.ipcs {
    color: white;
    text-shadow: 0px 0px 3px #000, -1px -1px #000, 1px 1px #000;
    -webkit-font-smoothing: antialiased;
    background-image: url("/assets/images/tech.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
@media screen and (max-width:500px) {
  .ipcs{
    padding-top:3em;
    padding-bottom:3em;
  }
}
